div.hero-unit
    h1 Heading

div.content
    div.row
        div.span12
            h2 Sub-Heading
            ul.unstyled.indent
                each example in examples
                    li
                        a(href="view/#{example._id}")  #{example.name}