div.hero-unit
    h1 #{title}
    p This is a very simple MVR starting point for Node.js Express.
    

div.content
    div.row
        div.span12
            h2 A list of all of the Test Docs
            ul.unstyled.indent
                each example in examples
                    li
                        h3
                            a(href="view/#{example._id}")  #{example.name} 