!!!
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

    body
        div.topbar.navbar.navbar-fixed-top
            div.fill
                div.container
                    a(href='/').brand #{title}

                            
    div.container!= body
        footer
            p 
                | Node.js MVR template by    
                a(href='http://benedmunds.com')(target='_blank') Ben Edmunds